/* General Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #e6dbdb;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in-out;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideIn 1.5s ease-out;
}

input[type="text"],
input[type="password"],
button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #400f0f;
    outline: none;
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.5);
    animation: inputFocus 0.3s ease-in-out;
}

button {
    background-color: #441313;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #451010;
    transform: translateY(-3px);
}

button:active {
    background-color: #4a1515;
    transform: translateY(1px);
}

button:focus {
    outline: none;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes inputFocus {
    from {
        box-shadow: 0 0 0px rgba(76, 175, 80, 0.5);
    }
    to {
        box-shadow: 0 0 10px rgba(76, 175, 80, 0.5);
    }
}
